<p style="color: green" class="container"><%= notice %></p>




<div class="jumbotron container">
  <h1 class="display-4"><%= @note.title %></h1>
  <p class="lead"><%= @note.description%></p>
  <hr class="my-4">
  <%= link_to "Edit this note", edit_note_path(@note) , class:"btn btn-info"%> |
  <%= link_to "Back to notes", notes_path ,class:"btn btn-secondary"%>
  <hr class="my-4">

  <%= button_to "Destroy this note", @note, method: :delete,class:"btn btn-danger" %>
  
  
</div>